body{
    text-align: center;
    background-color:yellowgreen;
    color: white;
    font-weight: 100;
    font-size: 50px;
}
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter:blur(var(--blur));
    height: 40vh;
    width: 40vh ;
}
.h1{
    color: var(--base);
}